<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kickerino</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <canvas id="matrix-canvas"></canvas>
    <div id="header-container">
        <div id="logo-container">
            <img src="logo.png" alt="Logo" id="logo">
            <div id="text-button-container">
                <div id="headline">KICKERINO</div>
                <div id="big-text">Open Source Chat Client for Kick.com</div>
                <a href="https://github.com" target="_blank" id="github-button"><i class="fab fa-github"></i> GitHub</a>
                <a href="https://discord.com" target="_blank" id="discord-button"><i class="fab fa-discord"></i> Discord</a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
